.widgetLg{
 flex: 2;
 box-shadow: 0px 0px 11px -3px rgba(0,0,0,1);
-webkit-box-shadow: 0px 0px 11px -3px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 11px -3px rgba(0,0,0,1);
border-radius: 10px;

}

.widgetLgTitle{
 padding: 20px;

  font-size: 22px;
  font-weight: 600;
}


.widgetLgTable{
  width: 100%;
  border-spacing:20px ;
}

.widgetLgTh{
  text-align: left;
 
}

.widgetLgUser{
display: flex;
align-items: center;
font-weight: 600;

}
  


.widgetLgImg{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.widgetLgDate, .widgetLgAmount{
  font-weight: 300;
}

.widgetLgButton{
 padding: 5px 7px;
  border: none;
  background-color: #fff;
  color: #555;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
}

.widgetLgButton.Approved{
  background-color: #00bfa5;
  color: #fff;
}

.widgetLgButton.Pending{
  background-color: #ff8f00;
  color: #fff;
}


.widgetLgButton.Declined{
  background-color: #dd2c00;
  color: #fff;
}