.featured{
width: 100%;
display: flex;
justify-content: space-between;

}

.featuredItem{
flex: 1;
margin: 0px 20px;
padding: 30px; 
background-color: white;
border-radius: 20px;
cursor: pointer;
box-shadow: 0px 0px 11px -3px rgba(0,0,0,1);
-webkit-box-shadow: 0px 0px 11px -3px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 11px -3px rgba(0,0,0,1);

}

.featuredTitle{
 font-size: 20px;
}

.featuredMoneyContainer{
display: flex;
align-items: center;
margin: 10px 0px;
}

.featuredMoney{
font-size: 30px;
font-weight: 600;
}

.featuredMoneyRate{
 display: flex;
 align-items: center;
 margin-left: 15px;
}

.featuredIcon{
 font-size: 14px;
 margin-left: 5px;
 color: green;
}


.featuredIcon.negative{
 color: red;
}

.featuredSub{
 font-size: 14px;
 font-weight: 600;
 color: gray;
}
