.userList {
  flex: 4;
}

.userListUser {
  display: flex;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}

.userListImg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit{
  border: none;
  border-radius: 10px;
  background-color:green;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  margin-left: 15px;
}
 